.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

h1, h3 {
  text-align: center;
}

.box-infos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 24px 32px;
  width: 800px;
  background: #FFFFFF;
  border: 1px solid #CBD5E1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;
}

.box-infos label,
.box-infos input,
.box-infos p {
  width: 45%;
  min-width: 300px;
}
.box-infos .button-container {
  display: flex;
  gap: 16px; 
  width: 100%;
  margin-top: 20px;
  justify-content: flex-end; 
}

.box-infos button {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px; 
  height: 40px;
}


.box-infos label[for="quantidadePoltronas"],
.box-infos input[type="number"]#quantidadePoltronas {
  width: 120px;
  height: 40px; 
  font-size: 14px; 
  padding-left: 10px; 
}


.cancelar {
  background-color: #ccc; 
  color: #333; 
  border: none;
}

.cadastrar {
  background-color: #0f172a;
  color: white;
  border: none;
}

